body {
    height: 300px;
    width: 420px;
}

h1 {
    text-align: center;
    color: green;
}
.inputLink {
    width: 415px;
    height: 20px;
    font-size:15px
}


::placeholder {
    color: green;
}
