body {
	height: 300px;
	width: 460px;
}

h2 {
	text-align: center;
}

.inputLink {
	width: 415px; 
	height: 20px; 
	font-size:14px
}

.btn-sm {
	border-radius: 50% !important;
}

.btn-light:hover {
	background-color: #d9534f !important;
	color: #f7f7f7 !important;
}


::placeholder {
	color: green;
}